
<%-include("header"); -%>

<div class="weather-box">
<form   action="/" method="post">
  <div class="mb-6 search-city-box">
    <label  class="form-label">City name:</label>
    <br>
    <input type="text" class="form-control  search-City" name="cityname">
    <br>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

</div>
<%-include("footer"); -%>
